<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文档</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/zTree/bootstrapStyle/bootstrapStyle.css"/>

    <link rel="stylesheet" href="/editormd/css/editormd.min.css"/>
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css"/>

    <link rel="stylesheet" href="/css/index.css"/>
    <style type="text/css">
        div#rMenu {
            position: absolute;
            visibility: hidden;
            top: 0;
            background-color: #555;
            text-align: left;
            padding: 2px;
            z-index: 9999999;
        }

        div#rMenu ul {
            margin: 0;
            padding: 0;
        }

        div#rMenu ul li {
            margin: 1px 0;
            padding: 0 5px;
            cursor: pointer;
            list-style: none outside none;
            background-color: #DFDFDF;
        }

        .add-cls {
            background-color: dodgerblue;
            padding: 10px 30px;
            border-radius: 20px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body oncontextmenu="doNothing()">

<!--<header>-->
<!--    <div>-->
<!--        -->
<!--    </div>-->
<!--</header>-->

<div class="container">

    <div class="left-menu">
        <button onclick="javascript:logout()">退出</button>
        <button class="add-cls" onclick="javascript:initEditor()">+ 新增</button>

        <ul id="treeDemo" class="ztree"></ul>
    </div>

    <div class="main">
        <div>
            <input class="title-cls" id="title" placeholder="标题"/>
            <button class="save-btn" id="save" onclick="javascript:save()">保存</button>
        </div>
        <div id="editor">
            <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
            <textarea style="display:none;">### Hello Editor.md !</textarea>
        </div>
    </div>
</div>


<div id="rMenu">
    <ul>
        <li id="m_add" onclick="addTreeNode();">新建笔记</li>
        <li id="m_del" onclick="addTreeNode2();">新建笔记（同级）</li>
        <li id="m_check" onclick="checkTreeNode(true);">Check节点</li>
        <li id="m_unCheck" onclick="rename();">重命名</li>
        <li id="m_reset" onclick="resetTree();">删除</li>
    </ul>
</div>


<script src="/editormd/js/jquery.min.js"></script>
<script src="/zTree/js/jquery.ztree.core.min.js"></script>
<script src="/zTree/js/jquery.ztree.exedit.js"></script>
<script src="/editormd/js/editormd.min.js"></script>
<script>
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        data: {
            key: {
                name: "title"
            }
        },
        view: {
            showLine: false
        },
        edit: {
            enable: true,
            showRemoveBtn: false,
            showRenameBtn: false
        },
        callback: {
            onClick: zTreeOnClick,
            onRightClick: OnRightClick,
            onDrag: onDrag,
            onDrop: onDrop,
        }
    };

    var editor;

    var mdId;
    var pid;
    var parentId;
    var curId; // 当前展示节点

    var curTreeNode;
    var moveTreeNode;

    var rMenu;

    $(function () {
        getTree();
        rMenu = $("#rMenu");
    });

    function initTree(zNodes) {
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        // todo
        if (curId){
            var treeNode = zTreeObj.getNodeByParam('id', curId, null);
            var parentTreeNode = zTreeObj.getNodeByParam('id', treeNode.pid, null);
            // 展开父节点
            zTreeObj.expandNode(parentTreeNode)
            // 选中当前节点
            zTreeObj.selectNode(treeNode)
            // 触发当前节点的点击事件
            zTreeObj.setting.callback.onClick(null, curId, treeNode)
        }
    }

    function getTree(id) {
        curId = id;
        $.ajax({
            type: "get",
            url: "/note/tree",
            data: {},
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("User", "test123");
            },
            contentType: "application/json;charset=UTF-8",
            success: function (res) {
                console.info(res)
                if (res && res.success) {
                    initTree(res.data)
                }
            }
        })
    }

    var initEditor = function (text) {
        if (text == undefined || text == null || text == "") {
            text = "# 标题"
        }
        editor = editormd("editor", {
            width: "100%",
            height: 600,
            markdown: text,
            path: "/editormd/lib/",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        })
    }

    function getData(id) {
        // $.get("/get", function (res) {
        //     console.log(res)
        // });

        mdId = id;

        $.ajax({
            type: "get",
            url: "/note/get/" + id,
            data: {},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (res) {
                console.info(res)
                if (res && res.success) {
                    $("#title").val(res.data.title);
                    $("#title").show();
                    $("#save").show();
                    initEditor(res.data.text)
                }
                // initEditor(res)
            }
        })
    }

    function save() {

        let text = editor.getMarkdown();

        if (mdId) {

        } else {
            mdId = null;
        }
        var formData = {
            id: mdId,
            pid: pid,
            title: $("#title").val(),
            text: text
        };

        $.ajax({
            type: "post",
            url: "/note/save",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (res) {
                console.info(res)
                if (res && res.success) {
                    alert(res.message);
                    // zTreeObj.refresh();
                    getTree(res.data);
                }
            }
        })
    }

    function zTreeOnClick(event, treeId, treeNode) {
        console.info(treeNode)
        // alert(treeNode.tId + ", " + treeNode.title);
        if (treeNode.pid == 0) {
            zTreeObj.expandNode(treeNode);
        } else {
            getData(treeNode.id);
        }
    }

    function OnRightClick(event, treeId, treeNode) {
        console.info(treeNode)
        curTreeNode = treeNode;
        pid = treeNode.id;
        parentId = treeNode.pid;
        console.info("event.clientX : ", event.clientX)
        console.info("event.clientY : ", event.clientY)

        // if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
        //     zTree.cancelSelectedNode();
        showRMenu("root", event.clientX, event.clientY);
        // } else if (treeNode && !treeNode.noR) {
        //     zTree.selectNode(treeNode);
        //     showRMenu("node", event.clientX, event.clientY);
        // }
    }

    function showRMenu(type, x, y) {
        $("#rMenu ul").show();
        y += document.body.scrollTop;
        x += document.body.scrollLeft;
        x += 10; // 优化体验
        rMenu.css({"top": y + "px", "left": x + "px", "visibility": "visible"});

        $("body").bind("mousedown", onBodyMouseDown);
    }

    function onBodyMouseDown(event) {
        if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length > 0)) {
            rMenu.css({"visibility": "hidden"});
        }
    }

    function hideRMenu() {
        if (rMenu) rMenu.css({"visibility": "hidden"});
        $("body").unbind("mousedown", onBodyMouseDown);
    }

    function addTreeNode() {
        hideRMenu();
        initEditor();
        mdId = undefined
        console.log("pid = ", pid)

        $("#title").val("新建文档");
        $("#title").show();
        $("#save").show();
    }

    function addTreeNode2() {
        hideRMenu();
        initEditor();
        mdId = undefined
        console.log("pid = ", pid)
        console.log("parentId = ", parentId)
        pid = parentId;
        console.log("修改后pid = ", pid)

        $("#title").val("新建文档");
        $("#title").show();
        $("#save").show();
    }

    function doNothing() {
        window.event.returnValue = false;
        return false;
    }

    function rename() {
        hideRMenu();
        console.log(curTreeNode)
        var res = prompt("重命名", curTreeNode.title);
        if (res) {
            console.info(res);
        }
    }


    function onDrag(event, treeId, treeNodes) {
        console.info("onDrag");
        console.info(treeId);
        console.info(treeNodes);
        if (treeNodes) {
            var id = treeNodes[0].id;
            console.info("id = ", id);
            moveTreeNode = treeNodes[0];
        }
    }

    function onDrop(event, treeId, treeNodes, targetNode, moveType, isCopy) {

        console.info("onDrop");
        console.info(treeId);
        console.info(treeNodes);
        console.info(targetNode);
        console.info(moveType);
        console.info(isCopy);
        if (targetNode) {
            console.info("移动到 id = " + targetNode.id + ((moveType == 'inner') ? ' 子节点' : (moveType == 'prev') ? ' 前边' : '后边'));

            var type = moveType == 'inner' ? 1 : moveType == 'prev' ? 2 : 3;

            let data = {
                id: moveTreeNode.id,
                target: targetNode.id,
                type: type
            }

            $.ajax({
                type: "post",
                url: "/note/move",
                data: data,
                success: function (res) {
                    console.info(res)
                    if (res && res.success) {
                        // alert(res.message);
                        // zTreeObj.refresh();
                        getTree();
                    }
                }
            })
        }

    }

    function logout() {
        $.get("/logout", function (res) {
            console.info(res)
            location.reload()
        })
    }
</script>
</body>
</html>