<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文档</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/zTree/bootstrapStyle/bootstrapStyle.css"/>

    <link rel="stylesheet" href="/editormd/css/editormd.min.css"/>
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css"/>

    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>

<header>
    <div>
        <button onclick="javascript:initEditor()">新增</button>
        <button onclick="javascript:save()">保存</button>
    </div>
</header>

<div class="container">

    <div class="left-menu">
        <ul id="treeDemo" class="ztree"></ul>
    </div>

    <div class="main">
        <div id="editor">
            <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
            <textarea style="display:none;">### Hello Editor.md !</textarea>
        </div>
    </div>
</div>


<script src="/editormd/js/jquery.min.js"></script>
<script src="/zTree/js/jquery.ztree.core.min.js"></script>
<script src="/editormd/js/editormd.min.js"></script>
<script>
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        data: {
            key: {
                name: "title"
            }
        },
        callback: {
            onClick: zTreeOnClick,
            // onRightClick: OnRightClick
        }
    };

    var editor;
    var pid;

    $(function () {
        getTree();
    });

    function initTree(zNodes) {
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    }

    function getTree() {
        $.ajax({
            type: "get",
            url: "/note/tree",
            data: {},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (res) {
                console.info(res)
                if(res && res.success){
                    initTree(res.data)
                }
            }
        })
    }

    var initEditor = function(text){
        if(text == undefined || text == null || text == ""){
            text = "# 标题"
        }
        editor = editormd("editor", {
            width: "100%",
            height: 600,
            markdown: text,
            path: "/editormd/lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        })
    }

    function getData() {
        // $.get("/get", function (res) {
        //     console.log(res)
        // });

        $.ajax({
            type: "get",
            url: "/get",
            data: {},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (res) {
                console.info(res)
                if(res && res.success){
                    initEditor(res.text)
                }
                // initEditor(res)
            }
        })
    }

    function save() {

        var formData = {
            title: "1",
            types: "1",
            content: "111111",
        };


        $.ajax({
            type: "post",
            url: "/note/save",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function(res){
                console.info(res)
            }
        })
    }
    
    function zTreeOnClick(event, treeId, treeNode) {
        alert(treeNode.tId + ", " + treeNode.title);
    }



</script>
</body>
</html>