<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<div>
    <label>用户名</label>
    <input id="usernameText"/>
</div>
<div>
    <label>用户名</label>
    <input type="password" id="passwordText"/>
</div>
<button id="button">登录</button>

<script src="/editormd/js/jquery.min.js"></script>
<script>

    $(document).keyup(function (e) {
        if (e.keyCode == 13)
            $("#button").trigger("click");
    });

    $(function () {

    });

    $("#button").click(function() {
        login();
    });

    var login = function(){
        let username = $("#usernameText").val();
        let password = $("#passwordText").val();
        $.ajax({
            type: "post",
            url: "/login/in",
            data: {
                username: username,
                password: password,
                token: "token"
            },
            dataType: "json",
            success: function (res) {
                console.info(res)
            }
        })
    }
</script>
</body>
</html>