<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/zTree/bootstrapStyle/bootstrapStyle.css"/>
</head>
<body>

<ul id="treeDemo" class="ztree"></ul>

<script src="/editormd/js/jquery.min.js"></script>
<script src="/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript">

    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    // var zNodes = [
    //     {name:"test1", open:true, children:[
    //             {name:"test1_1"}, {name:"test1_2"}]},
    //     {name:"test2", open:true, children:[
    //             {name:"test2_1"}, {name:"test2_2"}]}
    // ];

    $(function () {
        getData();
    });

    function initTree(zNodes) {
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    }

    function getData() {
        $.ajax({
            type: "get",
            url: "/tree",
            data: {},
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (res) {
                console.info(res)
                if(res && res.success){
                    initTree(res.data)
                }
            }
        })
    }

    document.addEventListener("paste", function (e) {
        console.log(e)
        console.log(e.clipboardData)
    })
</script>

</body>
</html>