html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /*min-height: 500px;*/
    height: 100%;
}

.left-menu {
    width: 200px;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.main .title-cls {
    display: none;
    width: 90%;
    height: 34px;
    border: none;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
}

.main .save-btn {
    display: none;
    width: 8%;
    height: 34px;
    border-radius: 20px;
    background-color: grey;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


