html, body {
    height: 100%;
}

.container {
    display: flex;
    /*min-height: 500px;*/
}

.left-menu {
    width: 200px;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
    height: 100%;
}


