html, body {
    height: 100%;
}

.container {
    display: flex;
    /*min-height: 500px;*/
}

.left-menu {
    width: 200px;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.main .title-cls {
    width: 100%;
    height: 34px;
    border: none;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
}


